 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-image-1 {
  width: 52px;
  height: 52px;
  background-image: url("images/sfs.png");
  background-position: 50% 50%;
  margin: 3px 439px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 58px;
  height: 58px;
  background-image: url("images/hgd.png");
  background-position: 50% 50%;
  margin: -52px 208px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 52px;
  height: 52px;
  background-image: url("images/dga.png");
  background-position: 50% 50%;
  margin: -56px 652px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 52px;
  height: 52px;
  background-image: url("images/is.png");
  background-position: 50% 50%;
  margin: -47px auto 0 10px;
}

.u-section-1 .u-image-5 {
  width: 52px;
  height: 52px;
  background-image: url("images/ras.png");
  background-position: 50% 50%;
  margin: -51px auto 0 223px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: normal;
  text-align: start;
  margin: -49px 306px 0 723px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-weight: normal;
  text-align: start;
  margin: -24px 567px 0 498px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-weight: normal;
  text-align: start;
  margin: -26px 115px 0 952px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: -1px 68px 0 952px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-weight: normal;
  margin: -42px 971px 0 72px;
}

.u-section-1 .u-text-6 {
  text-transform: none;
  font-weight: normal;
  text-align: start;
  margin: -26px 758px 0 285px;
}

.u-section-1 .u-text-7 {
  text-align: start;
  margin: -6px 299px 0 723px;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: -21px 524px 0 498px;
}

.u-section-1 .u-text-9 {
  text-align: start;
  margin: -17px 737px 0 285px;
}

.u-section-1 .u-text-10 {
  margin: -22px 950px 0 72px;
}

.u-section-1 .u-slider-1 {
  min-height: 542px;
  margin-top: 34px;
  margin-bottom: 60px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  text-align: left;
  margin: 82px auto 0 60px;
}

.u-section-1 .u-text-12 {
  text-align: left;
  margin: 11px 591px 0 60px;
}

.u-section-1 .u-image-6 {
  width: 520px;
  height: 225px;
  text-align: left;
  margin: -228px 37px 0 auto;
}

.u-section-1 .u-carousel-item-2 {
  margin-left: 70px;
  margin-right: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-13 {
  text-align: left;
  margin: 116px auto 0 0;
}

.u-section-1 .u-text-14 {
  text-align: left;
  margin: 5px 611px 0 0;
}

.u-section-1 .u-image-7 {
  width: 520px;
  height: 225px;
  text-align: left;
  margin: -238px 74px 0 auto;
}

.u-section-1 .u-carousel-item-3 {
  margin-left: 10px;
  margin-right: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-text-15 {
  text-align: left;
  margin: 110px 928px 0 0;
}

.u-section-1 .u-text-16 {
  text-align: left;
  margin: 5px 611px 0 0;
}

.u-section-1 .u-image-8 {
  width: 520px;
  height: 225px;
  text-align: left;
  margin: -238px 74px 0 auto;
}

.u-section-1 .u-carousel-item-4 {
  margin-left: 39px;
  margin-right: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 4px 50px;
}

.u-section-1 .u-text-17 {
  text-align: left;
  margin: 98px auto 0 20px;
}

.u-section-1 .u-text-18 {
  text-align: left;
  margin: 22px 591px 0 20px;
}

.u-section-1 .u-image-9 {
  width: 520px;
  height: 225px;
  text-align: left;
  margin: -238px 54px 0 auto;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: -6px;
  position: absolute;
  top: 237px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  top: 221px;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -65px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -43px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -68px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -42px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -43px;
    margin-right: 0;
    margin-left: 829px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -26px;
    margin-right: 467px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -37px;
    margin-right: 15px;
    margin-left: 852px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 2px;
    margin-right: 0;
    margin-left: 852px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -49px;
    margin-right: 843px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -15px;
    margin-right: 658px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1px;
    margin-right: 199px;
    margin-left: 623px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 424px;
    margin-left: 398px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 11px;
    margin-right: 637px;
    margin-left: 185px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -63px;
    margin-right: 822px;
    margin-left: 0;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
    margin-top: 39px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 391px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 411px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 728px;
    margin-left: 39px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 411px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: -145px;
    margin-right: 96px;
    margin-left: 513px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 357px;
    margin-left: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 66px;
    margin-right: 0;
    margin-left: 647px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -100px;
    margin-left: 647px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 623px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 548px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 89px;
    margin-left: 513px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 314px;
    margin-left: 288px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 527px;
    margin-left: 75px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 602px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 55px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 171px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 231px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 70px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 548px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 231px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 211px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-3 {
    margin-right: 488px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 6px;
    margin-left: 423px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 267px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 467px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 467px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 443px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 422px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 224px;
    margin-left: 198px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 422px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 422px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 31px;
  }

  .u-section-1 .u-image-6 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 91px;
  }

  .u-section-1 .u-image-7 {
    width: 450px;
    height: 195px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 408px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 91px;
  }

  .u-section-1 .u-image-8 {
    width: 510px;
    height: 221px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 253px;
    margin-right: 71px;
  }

  .u-section-1 .u-image-9 {
    width: 481px;
    height: 208px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-top: 296px;
    margin-right: 288px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -29px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -79px;
    margin-right: 288px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -346px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 155px;
    margin-right: 0;
    margin-left: 229px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -48px;
    margin-right: 167px;
    margin-left: 98px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 102px;
    margin-left: 267px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 267px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -362px;
    margin-right: 243px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 262px;
    margin-right: 243px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 22px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -44px;
    margin-right: 124px;
    margin-left: 222px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 10px;
    margin-right: 222px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -339px;
    margin-right: 222px;
  }

  .u-section-1 .u-slider-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 139px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 250px;
    height: 108px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 208px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 310px;
    height: 134px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 442px;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 281px;
    height: 122px;
  }
}